* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

body{
    background-color: #121212;
    
}

p, h1 {
    color: white;
    font-family: 'Freckle Face', cursive;
}

p {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    color: #FD841F;
}